@use "../global/variables";
@use "../global/mixins";

.subscriptions__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: variables.$primary-white-color;
  padding: 50px 42px;
  width: 290px;
  min-height: 384px;

  &::before {
    position: absolute;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    transition: border 0.1s ease;
  }

  &:focus-within::before {
    border: 7px solid transparent;
    border-image: linear-gradient(151deg, #ed0233 0%, #003eb7 100%) 1;
  }


  @media (min-width: variables.$tablet-width) {
    width: 380px;
    min-height: 460px;
    padding: 65px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 360px;
    min-height: 447px;
  }
}

.subscriptions__card--highlighted {
  @media (min-width: variables.$desktop-width) {
    min-height: 448px;
  }
}

.subscriptions__card-title {
  @include mixins.font-style(variables.$primary-font, 22px, 22px, 700);

  margin: 0;
  margin-bottom: 17px;

  @media (min-width: variables.$tablet-width) {
    @include mixins.font-style(variables.$primary-font, 24px, 20px, 700);

    margin-bottom: 20px;
  }

  @media (min-width: variables.$desktop-width) {
    @include mixins.font-style(variables.$primary-font, 26px, 21px, 700);

    margin-bottom: 16px;
  }
}

.subscriptions__card-details {
  margin: 0;
  margin-bottom: 66px;

  @media (min-width: variables.$tablet-width) {
    @include mixins.font-style(variables.$primary-font, 16px, 29px, 300);

    margin-bottom: 81px;
  }
}

.subscriptions__card-price {
  position: relative;
  margin: 0;
  margin-bottom: 18px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 19px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 22px;
  }
}

.subscriptions__card-price-value {
  position: absolute;
  bottom: 1px;
  left: -15px;

  @include mixins.font-style(variables.$primary-font, 80px, 120px, 700);

  color: #e8e8e8;
  pointer-events: none;

  @media (min-width: variables.$tablet-width) {
    @include mixins.font-style(variables.$primary-font, 100px, 150px, 700);
  }

  @media (min-width: variables.$desktop-width) {
    bottom: -8%;
    left: -18px;
  }
}

.subscriptions__card-price-text,
.subscriptions__card-price-unit {
  position: relative;
  padding-right: 33px;

  @include mixins.font-style(variables.$primary-font, 48px, 72px, 700);

  z-index: 1;

  @media (min-width: variables.$tablet-width) {
    @include mixins.font-style(variables.$primary-font, 60px, 90px, 700);

    padding-right: 45px;
  }

  @media (min-width: variables.$tablet-width) {
    @include mixins.font-style(variables.$primary-font, 60px, 78px, 700);
  }
}

.subscriptions__card-price-text {
  color: variables.$additional-accent-color;
}

.subscriptions__card-price-currency {
  z-index: 1;
  position: absolute;
  top: 18%;
  left: 65%;

  @media (min-width: variables.$tablet-width) {
    top: 20%;
    left: 63%;
    width: 90px;
    height: 42px;
  }
}

.subscriptions__card-button {
  position: relative;
  min-width: 100%;
  min-height: 66px;
  padding: 25px 22px;
  transition: color 0.5s ease-in, border 0.5s ease-in;
  color: variables.$primary-dark-color;
  border: 2px solid variables.$primary-dark-color;

  @media (min-width: variables.$tablet-width) {
    padding: 26px 44px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 26px 44px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #ed0233 13%, #003eb7 100%);
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
  }

  &:hover,
  &:focus-visible,
  &:active {
    color: variables.$primary-white-color;
    border-image: linear-gradient(to right, #ed0233 13%, #003eb7 100%) 1;

    &::before {
      opacity: 1;
    }
  }

  &:active {
    color: rgba(255, 255, 255, 0.7);
  }
}

.subscriptions__card-button--disabled {
  color: rgba(16, 38, 84, 0.3);
  border: 2px solid rgba(16, 38, 84, 0.3);
  pointer-events: none;
  cursor: none;
}

.subscriptions__card-button-text {
  position: relative;
  z-index: 1;
}
